@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=Montserrat:wght@100;300;500&display=swap');
p,a,h1,h2,h3,h4,span {
  font-family: 'Montserrat', sans-serif;
}
header.main-header {
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px #81818129;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: black;
}

ul.navbar {
    list-style: none;
    display: flex;
}

ul.navbar li {
    margin-right: 15px;
}

header.main-header li button {
  background: none;
  font-family: 'Montserrat';
  transition: all 0.2s ease;
  color: white;
}
ul.MuiList-root a {
  text-decoration: none;
  color: black;
}
header.main-header li button:hover {
  background: none;
}

.container-logo {
  width: 100px;
}

.container-logo img {
  width: 100%;
}
.card-item {
  float: left;
  width: calc(33.333% - 14px);
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 1px 1px 5px #0000002b;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;  
}
.container-general {
  width: 1200px;
}
.container-cards {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

/*Styles Detail Component*/

.container-detail {
  display: flex;
  padding: 20px 0px;
}

.container-detail__img {
  width: 65%;
}

.container-detail__img img {
  width: 100%;
}

.container-detail__info {
  width: 35%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.container-detail .detail__btn-buy {
  background: black;
  color: white;
  width: 100%;
  border-radius: 0px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.container-detail .detail__btn-buy:hover {
  background: black;
  color: white;
}

h3.info__title {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

p.info__text {
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0px;
}

.detail__text {
  padding-bottom: 10px;
  border-bottom: 1px solid #0000004a;
}

ul.info__color {
  padding-left: 0px;
  list-style: none;
  margin: 10px 0px;
  display: flex;
}

ul.info__color li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}

p.info__subtitle {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 10px;
}

.faq-section h3 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat';
}

.faq-section p {
    font-weight: 300;
    font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Montserrat';
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid black;
}

form > button {
  background: black !important;
  color: white !important;
  border-radius: 0px !important;
  width: 300px;
  font-family: 'Montserrat' !important;
}

form > button:hover {
  background: black !important;
  color: white !important;
}
.btn-custom,.btn-custom:hover {
  background: black !important;
  border-radius: 0px !important;
  color: white !important;
  padding: 5px 20px !important;
  font-family: 'Montserrat' !important;
  width: 100% !important;
}
.btn-custom a {
  color: white !important;
}

.cart-button svg {
  color: white;
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button p {
  color: white;
  margin-left: 6px;
}

.cart-modal .MuiPaper-root.MuiPaper-elevation p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.cart-modal .MuiMenu-list {
  width: 300px;
}

.footer-modal-cart {
  padding: 0px 10px;
}

.item-cart-modal {
  display: flex;
}

.item-cart-modal__img {
  overflow: hidden;
  width: 30%;
  height: 100px;
}

.item-cart-modal__info {
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
}

.item-cart-modal__action {
  width: 10%;
}

.item-cart-modal__img img {
  width: 100%;
}

.item-cart-modal__info p {
  padding: 0px !important;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left !important;
}


/*Light Mode Styles*/
header.main-header.light-mode {
  background: white;
}

header.main-header.light-mode ul.navbar * {
  color: black !important;
  box-shadow: none;
}

.container-cards.light-mode .card-item * {
  color: white;
}

.container-cards.light-mode .card-item {
  background: black;
}

header.main-header.light-mode .cart-button * {
  color: black;
}

/*CartPage*/

.cart-section {}

.cart-section .col-cart-table__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
}

.cart-section .col-cart-table__head h2 {
    font-size: 14px;
    text-align: left;
}

.cart-section .col-cart-table__head h2:nth-of-type(1) {
    width: 10%;
}

.cart-section .col-cart-table__head h2:nth-of-type(2) {
    width: 40%;
}

.cart-section .col-cart-table__head h2:nth-of-type(3) {
    width: 10%;
}

.cart-section .col-cart-table__head h2:nth-of-type(4) {width: 10%;}

.cart-section .col-cart-table__head h2:nth-of-type(5) {
    width: 10%;
}

.cart-table__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-table__content-img {
    width: 10%;
    overflow: hidden;
}

.cart-table__content-img img {
    width: 100%;
}

.cart-table__content-title {
    width: 40%;
}

.cart-table__content-price {
    width: 10%;
}

.cart-table__content-quantity {
    width: 10%;
}
.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-footer > button.btn-custom {
  max-width: 300px;
  height: fit-content;
  background: white !important;
  color: black !important;
  border: 1px solid black;
}

.cart-checkout-details {
  background: #fafafa;
  padding-top: 10px;
}

.cart-checkout-details .cart-checkout__subtotal, .cart-checkout-details .cart-checkout__total {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-checkout__subtotal p, .cart-checkout__subtotal span {
  font-size: 14px;
  font-weight: 300;
}

.cart-checkout__total p, .cart-checkout__total span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.container-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

button.btn-delete {
  background: none;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 5px #00000042;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.btn-delete:hover {
  transform: scale(1.09);
}